@import "../global/settings";

.e-application-layout {
  display: block;
  position: relative;
  width: 450px;
  margin: 150px auto;
  padding: 0;
  text-align: center;
  color: #505050;

  > .elm-logo {
    width: 175px;
    height: 175px;
  }

  > .title {
    margin-top: 20px;
  }
}
